@import "styling/variables.scss";
@import "styling/reset.scss";
@import "styling/grid.scss";
@import "styling/sim-controls.scss";

* {
  box-sizing: border-box;
  margin: none;
}
body {
  background: $theme-dark;
}